.menu-container {
	background: #003366;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 0px;
  transition: width 1.5s;
}

.show-menu {
	width: 205px;
}

.menu-items {
	display: grid;
	row-gap: 5px;
	margin-left:15px
}

.menu-items nav {
	padding-top: 7.5px;
}

.menu-items a {
	padding-bottom: 10px;
	padding-left: 10px;
}