.comments-container h2 {
  text-align: center;
}
.comments-container hr {
  border-color: #003366;
  width: 95%;
}

.comments-list {
  padding: 2.5%;
}

.comment {
  background-color: #003366;
  color: wheat;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  margin-bottom: 10px;
}

.comment-box {
  position: fixed;
  bottom: 0px;
  display: grid;
  padding: 2.5%;
  width: 95%;
  opacity: 0;
  transition: opacity 3s;
}

.show-comment-box {
  opacity: 1;
}

.comment-box textarea {
	height: 50px;
	background-color: wheat;
	border: 2px solid #003366;
	color: #003366;
	padding: 10px 20px 10px 20px;
	outline: none;
	resize: none;
	border-radius: 10px;
  font-size: 16px;
  margin-bottom: -48px;
}

.textarea-n-btn {
  margin-top: 10px;
}

.textarea-n-btn textarea {
  width: calc(100% - 110px);
}
.textarea-n-btn .send-btn {
  height: 75px;
  float: right;
  width: 60px;
  padding: 0;
}

.comment-close {
  position: absolute; 
  right: 2.5%;
  top: 15px;
  cursor: pointer;
}