.start-container {
	display: flex;
  height: calc(100vh - 83px);
  padding-top: 58px;
}

.slogan-hidden {
	transition: opacity 1s;
}


@media( min-width: 1440px ) {
	.start-container {
		padding-top: 70px;
	}
}

@media( max-width: 750px ) {
	.start-container {
    display: block;
		padding-top: 40px;
  }
}