.tutorial-container {
  padding-top:100px;
}

.tutorial-circle {
  background-color: wheat;
  color: #003366;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 27.5px;
  font-weight: 800;
}
.tutorial-circle p {
  padding-top: 3px;
}

.tutorial-instruction {
  width: 400px;
  text-align: center;
  background-color: wheat;
  color: #003366;
  border-radius: 10px;
  padding: 10px;
  font-weight: 550;
}

.instruction-connect {
  margin-bottom: 20px;
}

.instruction-connect:before {
  position: absolute;
  border: 4px solid wheat;
  width: 0;
  height: 185px;
  display: block;
  content: '';
  left: 50%;
  z-index: -1;
  margin-left: -4px;
}

.instruction-connect:last-child::before,
.instruction-connect:nth-child(0)::before {
  display:none;
}

.start-listen {
  background-color: wheat;
  color: #003366;
  width: 150px;
  margin-left: 135px;
  text-align: center;
  font-weight: 600;
  height: 30px;
  padding-top: 15px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .tutorial-instruction {
    width: 250px;
  }
  .start-listen {
    margin-left: 60px;
    height: 42px;
    padding-top: 20px;
  }
  .instruction-connect:before {
    height: 230px;
  }
}