.tutorial-circle {
  background-color: wheat;
  color: #003366;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 27.5px;
  font-weight: 800;
}
.tutorial-circle p {
  padding-top: 3px;
}

.tutorial-instruction {
  margin: 20px 20%;
  text-align: center;
  background-color: wheat;
  color: #003366;
  border-radius: 10px;
  padding: 10px;
  font-weight: 550;
}

.instruction-connect:before {
  position: absolute;
  border: 4px solid wheat;
  width: 0;
  height: 50px;
  display: block;
  content: '';
  left: 50%;
  z-index: -1;
  margin-left: -4px;
  margin-top: 5px;
}