.listen-login-placeholder {
	display: grid;
	justify-content: center;
}

.listen-login-placeholder h2 {
	text-align: center;
}

.listen-login-container {
	background-color: wheat;
	color: #003366;
	padding: 20px;
	border-radius: 20px;
	display: grid;
}

.login-label {
	padding-bottom: 8px;
}

.login-input {
	width: 300px;
}

.login-label-not-first {
	padding-top: 15px;
}

.login-button {
	margin-top: 25px;
}

.no-match-text {
	max-height: 0px;
	overflow-y: hidden;
	transition: max-height 1s;
	color: red;
	margin-top: 15px;
}

.no-match-text p {
	padding-bottom: 10px;
}

.show-no-match-text {
	max-height: 999px;
}

.listen-login-title-container {
	position: relative;
}

.login-back {
	position: absolute;
	top: 0px;
	height: 45px;
}