.create-pod-container {
  margin: 20px;
}
.create-pod-text-placeholder, .create-pod-file-placeholder {
  margin-top: 10px;
  display: grid;
}
.create-pod-file-placeholder button {
  margin-top: 24px;
  height: 35px;
  width: 360px;
  position: absolute;
}
.create-pod-file-placeholder input {
  opacity: 0;
  cursor: pointer;
}
.create-pod-text-placeholder textarea {
  width: 318px;
}
.create-pod-text-placeholder textarea:focus {
  width: 318px;
  border: 2px solid wheat;
}
.create-pod-input {
  width: 338px;
  margin-top: 10px;
}
.create-pod-input:focus {
  border: 2px solid wheat;
}
.create-pod-upload button {
  width: 100%;
  margin-top: 20px;
  height: 40px;
}