.header-title {
	padding-left: 40px;
}

nav {
	padding: 30px;
}

nav a {
	padding-right: 30px;
}

.header-container {
	display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background-color: #003366;
    z-index: 1;
}

@media (max-width: 750px) {
	.header-title {
	    padding-left: 20px !important;
	}

	.mobile-icon {
		width: 35px;
		height: 35px;
		margin: 17.5px;
	}
}