.password-container {
	margin: 0px 10px 20px 10px;
	background-color: #003366;
	color: wheat;
	padding: 10px;
	border-radius: 10px;
}

.password-container input {
	display: block;
	margin-top: 5px;
	width: 125px;
}

.password-container input:focus {
	border: 2px solid wheat;
}

.password-container button {
	padding: 10px;
  height: 37px;
  margin-top: 6px;
  margin-left: 3px;
}