.settings-input {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 250px;
}

.change-info-btn {
  width: 275px;
  margin-bottom: 10px;
}
.change-info-btn:disabled {
  opacity: 0.4;
}
.change-info-btn:disabled:hover {
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.description-area {
  width: 230px !important;
  margin-bottom: 30px;
}