.contact-container {
  text-align: center;
	padding-top: 80px;
}

.contact-container p {
  font-size: 20px;
}

.podexpress-footer {
  position: absolute;
  bottom: 35px;
  text-align: center;
  width: 100%;
  padding: 0px !important;
}

.contact-form-container {
	background-color: wheat;
	color: #003366;
	padding: 20px;
	border-radius: 20px;
	display: grid;
  width: 400px;
  margin-bottom: 100px;
}

.contact-form-label {
	padding-bottom: 10px;
  padding-top: 10px;
}

.contact-form-input {
	width: 375px;
}

.contact-form-textearea {
  width: 355px;
  margin-top: 0px;
}

.contact-form-button {
  margin-top: 20px;
}

.contact-form-mail-success {
  margin-top: 15px;
  transform: scale(0);
  height: 0px;
  transition: height 0.75s, transform 0.75s ease-in-out 0.5s;
}

.contact-form-mail-success-show {
  transform: scale(1);
  height: 45px;
}

.no-match a {
  color: red;
  text-decoration: revert;
}

@media (max-width: 750px) {
  .contact-container {
    padding-top: 50px;
  }
  .contact-form-container {
    width: 260px;
  }
  .contact-form-input {
    width: 235px;
  }
  .contact-form-textearea {
    width: 215px;
    margin-top: 0px;
  }
}