.contact-container {
  text-align: center;
  height: calc(100vh - 90px);
	padding-top: 100px;
  position: relative;
}

.contact-container p {
  font-size: 20px;
}

.podexpress-footer {
  position: absolute;
  bottom: 35px;
  text-align: center;
  width: 100%;
  padding: 0px !important;
}