.upload-container {
	display: flex;
}

.upload-flex {
	background-color: wheat;
    margin-left: -20px;
    padding-left: 20px;
}

.upload-flex .center-btn {
	margin-bottom: 20px;
}

.upload-file-input {
	cursor: pointer;
	opacity: 0;
  height: 70px;
  width: 180px;
  margin-left: -110px;
}

input.upload-file-input::-webkit-file-upload-button {
	cursor: pointer;
}

.upload-file-placeholder {
  position: absolute;
  top: 110px;
  padding: 10px;
  background-color: wheat;
  color: #003366;
  border: 2px solid #003366;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.upload-file-placeholder:not(.episode) p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.upload-file-placeholder-hover {
  transform: scale(1.1);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.input-container {
	display: grid;
    grid-template-rows: 17px 2em 0px;
}

.input-input {
	width: 200px;
	font-size: 16px;
	margin-top: 10px;
  padding: 17.5px;
}

.input-textarea {
	font-family: anton, sans-serif;
	margin-top: 10px;
	width: 390px;
	height: 100px;
	background-color: wheat;
	border: 2px solid #003366;
	color: #003366;
	padding: 10px 30px 10px 10px;
	outline: none;
	resize: none;
	border-radius: 10px;
}

.input-textarea:focus {
	background-color: #003366;
	color: wheat;
}

.upload-episode {
	top: 345px;
	width: 200px;
	margin-left: 0px;
	margin-top: 25px;
}

.upload-episode-hover {
  transform: scale(1.025);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.episode-file-input {
  cursor: pointer;
  opacity: 0;
  height: 20px;
  width: 210px;
  margin-top: 140px;
}

.center-btn {
	display: flex;
	justify-content: center;
	width:  435px;
}

.center-btn .shift-button {
	width: 100%;
	margin-top: 15px;
}

.error-btn {
	background-color: red;
}

.errors-list {
	color: red;
	margin-top: 35px;
}

.label-ep-file {
	position: absolute;
	top: 345px;
}

.upload-loading-container {
	margin: 75px;
}

.upload-success{
  justify-content: center;
  display: contents;
}

.upload-file-holder {
	width: 200px;
}

.upload-select-pod {
	width: 200px;
	margin-left: 30px;
	height: 43px;
	margin-top: 138px;
	border-radius: 10px;
	padding: 3px;
	border: 2px solid #003366;
	cursor: pointer;
	background-color: wheat;
	color: #003366;
}