.create-account-placeholder {
	display: grid;
	justify-content: center;
	padding-top: 60px;
	margin-bottom: 50px;
}

.create-account-placeholder h2 {
	text-align: center;
}

.create-account-container {
	background-color: wheat;
	color: #003366;
	padding: 20px;
	border-radius: 20px;
	display: grid;
}

.create-account-label {
	padding-bottom: 8px;
}

.create-account-label-not-first {
	padding-top: 15px;
}

.create-account-input {
	width: 300px;
}

.create-account-button {
	margin-top: 25px;
}

.no-match {
	color: red;
}

.no-match-text {
	max-height: 0px;
	overflow-y: hidden;
	transition: max-height 1s;
}

.show-no-match-text {
	max-height: 999px;
}

.create-account-placeholder p {
	margin-top: 10px;
}

.create-back {
	position: absolute;
	top: 30px;
}
