.user-page-container {
	background-color: wheat;
 	display: flex;
 	position: absolute;
  	top: 0px;
  	width: 100%;
  	bottom: 0px;
	transition: top 1s;
}

.show-header {
	top: 75px;
}

.user-route-container {
	width: 100%;
	margin-left: 225px;
	margin-top: 20px;
	color: #003366;
}