.user-page-container {
	background-color: wheat;
  position: absolute;
  display: flex;
  top: 0px;
  width: 100%;
  bottom: 0px;
	transition: top 1s;
}

.show-header {
	top: 75px;
}

.user-route-container {
	width: 100%;
	margin-left: 225px;
	margin-top: 15px;
	color: #003366;
}