.listen-episodes-container {
	margin-bottom: 115px;
  position: relative;
  overflow: auto;

}

.listen-episode {
	background-color: wheat;
	color: #003366;
	padding: 20px;
	border-radius: 15px;
	margin-bottom: 10px;
}

.listen-episode button {
	padding: 0px 10px 0px 10px;
}

.listen-episode h3 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.listen-episode-info {
	margin-left: 15px;
}

.play-icon {
	width: 35px;
	height: 35px;
}

@media (max-width: 600px) {
	.listen-episode {
		padding: 10px 0px 10px 0px;
	}
	.listen-episode h3, .listen-episode p {
		padding: 3px;
	}
}