.listen-audio-player-container, .listen-audio-player-container-mobile {
	background-color: wheat;
	color: #003366;
	border-top: 2px solid #003366;
}

.listen-show-audio-container img {
	width: 100px;
	height: 100px;
	padding: 5px;
}

.listen-audio-player-container h3 {
	position: absolute;
	left: 150px;
	bottom: 10px;
}

.listen-audio-player-container h4 {
	position: absolute;
  bottom: 73px;
  text-align: center;
  width: 100%;
  display: none;
}

.listen-audio-player-container .rhap_container {
	background-color: wheat !important;
	padding: 20px;
	box-shadow: none !important;
}

.listen-audio-player-container .rhap_container:focus {
	outline: none !important;
}

.listen-audio-player-container .rhap_time, 
.listen-audio-player-container .rhap_main-controls-button,
.listen-audio-player-container .rhap_volume-button {
	color: #003366 !important;
}

.listen-audio-player-container .rhap_progress-indicator, 
.listen-audio-player-container .rhap_download-progress, 
.listen-audio-player-container .rhap_volume-bar {
	background-color: #003366 !important;
}

.listen-audio-player-container .rhap_progress-filled, 
.listen-audio-player-container .rhap_volume-indicator {
	background-color: #003366 !important;
}

.listen-audio-player-container .rhap_progress-bar-show-download {
	background-color: lightblue !important;
}

.listen-audio-player-container .rhap_main-controls {
	width: calc(100% - 100px) !important;
}

.listen-audio-player-container .rhap_volume-controls {
	position: absolute;
  	right: 100px;
 	width: 100px;
}

.listen-highlight-box {
  background-color: teal;
  min-width: 165px;
  border-radius: 10px;
  padding: 10px 5px;
  position: absolute;
  margin-left: calc(var(--play-time) - 82.5px);
  top: -55px;
  text-align: center;
  color: wheat;
  opacity: 0;
  transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  pointer-events: none;
}

.listen-highlight-box::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 82.5px;
  margin-left: -20px;
  border-width: 20px;
  border-style: solid;
  border-color: teal transparent transparent transparent;
}

.listen-highlight-box-show {
  pointer-events: auto;
  opacity: 1;
}

.show-highlights-btn {
	font-size: 12px;
	width: 180px;
	padding: 0px;
	height: 30px;
	background-color: teal;
	margin-top: 15px;
	margin-right: 10px;
	color: wheat;
}

@media (max-width: 600px) {
	.listen-audio-player-container h3 {
		display:none;
	}

	.listen-audio-player-container h4 {
		display: block;
		bottom: 63.5px;
		margin-left: 100px;
		text-align: left;
		padding-left: 30px;
	}

	.listen-audio-player-container .rhap_volume-controls {
		display: none;
	}

	.listen-audio-player-container .rhap_controls-section {
		justify-content: center;
	}

	.listen-audio-player-container .rhap_main {
		margin-bottom: -17.5px;
		margin-top: 12px;
	}
}

/* MOBILE CSS */

.listen-audio-player-container-mobile img {
	height: 55px;
	width: 55px;
}
.listen-audio-player-container-mobile h3 {
	padding-left: 15px;
	padding-top: 3.5px;
	width: calc(100% - 200px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.listen-audio-player-container-mobile button {
	margin: 11px 7.5px 0px 7.5px;
	padding: 5px 10px;
}