.listen-podcasts-container {
	padding-top: 80px;
}

.listen-podcasts {
	flex-wrap: wrap;
	background-color: #003366;
}

.listen-podcast {
	width: 200px;
	border-radius: 10px;
	color: #003366;
	background-color: wheat;
	margin: 10px;
	cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.listen-podcast:hover {
 	transform: scale(1.05); 
 	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.listen-podcast h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
	margin: 10px;
	text-align: center;
}
.listen-podcast-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	margin-top: 10px;
}

@media (max-width: 600px) {
	.listen-podcast {
		width: 45%;
		margin: 1.5%;
	}
}