.comments-container {
  height: 100%;
}
.comments-container h2 {
  text-align: center;
}
.comments-container hr {
  border-color: #003366;
  width: 95%;
}

.comments-list {
  padding: 20px;
  height: calc(100% - 305px);
  overflow-y: auto;
}

/* width */
.comments-list::-webkit-scrollbar {
  width: 12.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: wheat;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003366;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.comment {
  background-color: #003366;
  color: wheat;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  margin-bottom: 10px;
}

.comment-box {
  position: fixed;
  bottom: 0px;
  visibility: hidden;
  opacity: 0;
  display: grid;
  padding: 20px;
  width: calc(100% - 40px);
  transition: visibility 3s linear, opacity 3s linear;
}

.comment-box label {
  margin-bottom: 8.5px;
}

.comment-box input {
  padding-left:  20px;
}

.show-comment-box {
  visibility: visible;
  opacity: 1;
}

.comment-box textarea {
	height: 50px;
	background-color: wheat;
	border: 2px solid #003366;
	color: #003366;
	padding: 10px 20px 10px 20px;
	outline: none;
	resize: none;
	border-radius: 10px;
  font-size: 16px;
  margin-bottom: -48px;
}

.textarea-n-btn {
  margin-top: 10px;
}

.textarea-n-btn textarea {
  width: calc(100% - 110px);
}
.textarea-n-btn .send-btn {
  height: 75px;
  float: right;
  width: 60px;
  padding: 0;
}

.comment-close {
  position: absolute; 
  right: 2.5%;
  top: 0px;
  cursor: pointer;
  padding: 27.5px 10px 27.5px 30px;
}

.own-comment {
  width: 100%;
  text-align: right;
}

.own-comment svg {
  padding: 0px 10px;
  cursor: pointer;
}