.about-container {
	margin-left: 20%;
	width: 60%;
	text-align: center;
	height: 100vh;
	padding-top:100px;
}

.about-container article {
	font-size: 20px;
	margin-bottom: 10vh;
}

.to-contact-container {
	cursor: pointer;
}

.to-contact-container h2 {
	margin: 0px 0px 5px;
}

@media (max-width: 750px) {
	.about-container {
		margin-left: 5%;
		width: 90%;
	}
}