.about-container {
	margin-left: 20%;
	width: 60%;
	text-align: center;
	padding-top: 45px;
}

.about-container article {
	font-size: 20px;
	margin-bottom: 200px;
}

@media (max-width: 750px) {
	.about-container {
		margin-left: 5%;
		width: 90%;
	}
}