.episodes-container {

}

.episode {
	box-shadow: 0 2px 10px #003366;
	margin-right: 15px;
	margin-bottom: 20px;
}

.episode img {
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.ep-description {
	width: 300px;
}

.no-eps-container p {
	margin-bottom: 10px;
}

.ep-play-title {
	text-align: right;
	padding-right: 20px;
}

.ep-btn-play {
	float: right;
}

