.episodes-container {
	height: calc(100vh - 100px);
  	position: relative;
  	overflow: auto;
}

.episodes-container-play {
	height: calc(100vh - 195px) !important;
}

.episodes-header {
	display: flex;
	position: fixed;
	width: 100%;
	background-color: wheat;
}

.episodes-header h2 {
	margin-right: calc(100% - 873px);
}

.episodes-container table {
	margin-top: 100px;
}

.episode {
	border-bottom: 2px solid #003366;
	border-top: 2px solid #003366;
}

.episode img {
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.ep-description {
	width: 300px;
}

.no-eps-container p {
	margin-bottom: 10px;
	padding-top: 180px;
}

.ep-play-title {
	text-align: right;
	padding-right: 20px;
}

.ep-btn-play {
	float: right;
}

.ep-loading {
	margin-top: 120px;
}
