.episodes-container {

}

.episodes-header {
	display: flex;
	justify-content: space-between;
}

.episode {
	box-shadow: 2px 1px 5px 1px #003366;
	border-radius: 10px;
	margin-right: 15px;
	margin-bottom: 25px;
}

.episode img {
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.ep-description {
	width: 300px;
}

.no-eps-container p {
	margin-bottom: 10px;
}

.ep-play-title {
	text-align: right;
	padding-right: 20px;
}

.ep-btn-play {
	float: right;
}

