.episodes-container {

}

.episode {
	display: flex;
	justify-content: space-between;
	padding: 20px;
  box-shadow: 0 2px 10px #003366;
  margin-right: 15px;
  margin-bottom: 20px;
}

.episode img {
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.episode p {
	padding: 20px;
}

.no-eps-container p {
	margin-bottom: 10px;
}

