.episodes-container {
	height: calc(100vh - 100px);
  position: relative;
  overflow: auto;
}

.episodes-container-play {
	height: calc(100vh - 195px) !important;
}

.episodes-header {
	display: flex;
	position: fixed;
	width: 100%;
	background-color: wheat;
}

.episodes-header h2 {
	margin-right: calc(100% - 873px);
}

.episodes-container table {
	margin-top: 100px;
}

.episode {
	border-bottom: 2px solid #003366;
	border-top: 2px solid #003366;
}

.episode img {
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.ep-description-title {
	padding-left: 20px;
}

.ep-description {
	width: 750px;
	padding: 20px
}

.no-eps-container p {
	margin-bottom: 10px;
	padding-top: 180px;
}

.ep-play-title {
	text-align: right;
	padding-right: 20px;
}

.ep-btn-play {
	float: right;
}

.ep-loading {
	margin-top: 120px;
}

.cover-title {
	padding-left: 10px;
}

/* width */
.episodes-container::-webkit-scrollbar {
  width: 12.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: wheat;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003366;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ep-select-container {
	width: 150px;
}

.episodes-select-pod {
	width: 150px;
	height: 43px;
	border-radius: 10px;
	padding: 3px;
	border: 2px solid #003366;
	cursor: pointer;
	background-color: wheat;
	color: #003366;
}