.header-title {
	padding-left: 40px;
}

nav {
	padding: 30px;
}

nav a {
	padding-right: 30px;
}

.header-container {
	display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: #003366;
  z-index: 1;
	border-bottom: 1px solid #003366;
}

.menu-icon {
 padding: 20px 20px 20px 10px;
}

.mobile-menu {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	transition: transform 0.75s ease-in-out;
	transform: translateX(100%);
	background-color:#003366;
}

.mobile-menu-items a {
	margin-bottom: 15px;
}

.open-mobile-menu {
	transform: translateX(0);
}

.close-container {
	display: inherit;
	padding: 20px 20px 20px 10px;
	height: 25px;
}
.close-container svg {
	float: right;
}

@media (max-width: 750px) {
	.header-title {
	   padding-left: 20px !important;
		 font-size: 22.5px;
	}

	.mobile-icon {
		width: 30px;
		height: 30px;
		margin: 17.5px;
	}
}