.about-company-container {
  padding-top: 70px;
}
.about-company-back {
  margin-top: 20px;
}
.description-width {
  width: 600px;
}
.description-width a {
  width: 5%;
}
.description-width h2 {
  width: 95%;
}

@media(max-width:600px) {
  .about-company-container {
    padding-top: 50px;
  }
  .description-width {
    width: 90%;
    margin: 0% 5%;
  }
  .description-width a {
    width: 10%;
  }
  .description-width h2 {
    width: 90%;
    font-size: 20px;
    margin-right: 25px;
  }
  .about-company-back {
    margin-top: 12px;
  }
}