.listen-header {
	padding-right: 40px;
}

.listen-container {
  height: 100%;
  overflow-y: auto;
}

.listen-title-eps {
	position: relative;
	transition: margin-top 0.75s ease-in-out;
}

.listen-title-eps h2 {
 	text-align: center;
}

.podcast-back {
	position: absolute;
	top: 1px;
	height: 45px;
	left: 20%;
}

.podcast-back svg {
	height: 1.5em;
	width: 1.5em;
}

.listen-eps-container {
	margin: 28px 20% 20px 20%;
}

.pod-info-container {
	background-color: wheat;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	color: #003366;
	position: relative;
	min-height: 120px;
}

.pod-info-container article {
	padding: 10px 10px 35px 25px; 
}

.pod-info-container img{
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 10px;
}

.pod-reactions {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
}

.pod-reactions svg {
	width: 1.1em;
  height: 1.1em;
  margin-right: 5px;
  margin-left: 2px;
}
.pod-reactions p {
	font-size: 17px;
}

.thumbs {
	transition: 0.2s ease-in-out;
}

@media (hover: hover) and (pointer: fine) { /*Applies only on desktop */
	.thumbs:hover {
		border: 1px solid #003366;
		border-radius: 120px;
		cursor: pointer;
		padding: 2.5px;
		padding-right: 6.5px;
		background-color: #003366;
		color: wheat;
	}
}

.thumb-filled {
	background-color: #003366;
	padding: 2px 7.5px 0px 5px;
	border-radius: 120px;
	color: wheat;
}

.listen-audio-container {
	max-height: 0px;
	transition: max-height 3s;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: calc(var(--audio-layer, 1));
}
.listen-show-audio-container {
	max-height: 999px;
}
.audio-play-close {
	position: fixed;
	bottom: 5px;
	right: 5px;
	transition: opacity 1s;
	opacity: 0;
}
.audio-play-close-show {
	opacity: 1;	
}

.comment-btn {
	height: 25px;
	padding: 0px 10px;
	margin-right: 10px;
}

.listen-comment-container {
	position: fixed;
	height: 0vh;
	background-color:wheat;
	border-radius: 10px 10px 0px 0px;
	border-top: 2px solid #003366;
	bottom: 0px;
	width: 100%;
	color: #003366;
	transition: height 2s;
}

.show-comments {
	height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 600px) {
	.listen-eps-container {
		margin: 10px;
	}

	.podcast-back {
		left: 5px;
	}

	.listen-comment-container {
		border-radius: 0;
	}
}