.listen-header {
	padding-right: 40px;
}

.listen-container {
	margin-top: 80px;
}

.listen-title-eps h2 {
 	text-align: center;
}

.podcast-back {
	position: absolute;
	right: 20%;
	top: 80px;
}

.listen-eps-container {
	margin: 28px 20% 20px 20%;
}

.pod-info-container {
	background-color: wheat;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	color: #003366;
	display: flex;
	position: relative;
}

.pod-info-container article {
	padding: 10px 10px 10px 25px; 
}

.pod-info-container img{
	width: 120px;
	height: 120px;
}

.pod-reactions {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
}

.pod-reactions svg {
	width: 1.3em;
    height: 1.3em;
}
.pod-reactions p {
	padding-left: 5px;
	font-size: 17px;
}

@media (max-width: 600px) {
	.listen-eps-container {
		margin: 10px;
	}
}