.password-container {
	margin: 0px 0px 20px 10px;
	background-color: #003366;
	color: wheat;
	padding: 10px;
	border-radius: 10px;
}

.password-container input {
	display: block;
	margin-top: 5px;
	width: 125px;
}

.password-container input:focus {
	border: 2px solid wheat;
}

.password-container button {
	padding: 10px;
  height: 37px;
  margin-top: 6px;
  margin-left: 3px;
}

.password-container button:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
.password-container button:disabled:hover {
	transform: none;
	box-shadow: none;
}

.password-loading svg {
	margin-right: 6.5px;
	margin-top: -5px;
	margin-left: 6.5px;
}