.no-pod-container {
  margin-top: 100px;
}
.no-pod-container p {
  margin-bottom: 10px;
}
.create-pod {
  position: fixed;
  right: 0;
  top: 75px;
  width: 0px;
  transition: width 2s;
  background-color: #003366;
  color: wheat;
  height: 100%;
}

.create-pod-open {
  width: 400px;
}
.podcasts {
  flex-wrap: wrap;
}
.podcast {
  width: 225px;
  border: 2px solid #003366;
  border-radius: 10px;
  margin: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.podcast:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.podcast-img {
  width: 200px;
  height: 200px;
  margin-top: 15px;
}
.podcast h3 {
  text-align: center;
}
.user-pod-items {
  height: calc(100vh - 180px);
  overflow: auto;
}