.start-container {
	display: flex;
}

.intro-container {
  padding-left: 100px;
  width: 60%;
}

.intro-buttons {
	display: grid;
	margin-top: 50px;
}

.intro-btn {
	margin: 8px 0px 8px 0px;
  width: 100%;
}

.right-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.img-container {
	width: 300px;
	margin-top: 45px;
}

.speaker-icon {
	width: 100%; 
	height: auto;
	animation: pulse 2s infinite;
	margin: 0 auto;
	display: table;
	margin-top: 50px;
	animation-direction: alternate;
	-webkit-animation-name: speaker-icon;
	animation-name: speaker-icon;
}
    
@-webkit-keyframes speaker-icon {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
    
@keyframes speaker-icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}