body {
  margin: 0;
  overflow: auto !important;
  font-family: anton, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003366;
  color: wheat;
}


#root {
  /*height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

a {
	color: wheat;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
}

a:hover {
  transform: translateX(5px);
  text-shadow: 0 4px 17px black;
}

button {
  background-color: wheat;
  color: #003366;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.shift-button {
  background-color: #003366;
  color: wheat;
}

.link-button {
  color: wheat;
  height: 0px;
  font-size: 20px;
  background-color: transparent;
  text-align: left;
  padding-left: 9px;
  margin-top: -10px;
}

.link-button:hover {  
  transform: translateX(5px);
  text-shadow: 0 4px 17px black;
  box-shadow: none;
}

input {
  background-color: wheat;
  color: #003366;
  border: 2px solid #003366;
  outline: none;
  padding: 10px;
  border-radius: 10px;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
  box-shadow: 0 0 0 30px wheat inset !important;
 -webkit-box-shadow: 0 0 0 30px wheat inset !important;
}

input:focus {
  background-color: #003366;
  color: wheat;
}

label {
  font-weight: 600;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0;
}

table {
  width: 98%;
  padding-right: 50px;
  border-collapse: collapse; 
}

th {
  text-align: left;
  padding-bottom: 5px;
}

td img {
  margin: 10px;
}

.flex {
  display: flex;
}

.grid { 
  display: grid;
}

.space {
  justify-content: space-between; 
}

.center-content {
  justify-content: center;
}

.mobile {
  display: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh
}

.full-height-min {
  min-height: 100vh;
}

.center-text {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.top-padding {
  padding: 80px;  
}

@media (max-width: 750px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block !important;
  }
}

/* REACT TRANSITION CUSTOM CSS */
.react-tiger-transition--screen::-webkit-scrollbar {
  display: none;
}

/* LOADIN SPINNER */
.loading svg {
  animation: spin 2s linear infinite;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}
.big-loading svg {
  animation: spin 5s linear infinite;
  height: 250px;
  width: 250px;
  margin-top: 50px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
