body {
  margin: 0;
  font-family: anton, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003366;
  color: wheat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
	color: wheat;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
}

button {
  background-color: wheat;
  color: #003366;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  height: 50px;
}
