body {
  margin: 0;
  font-family: anton, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003366;
  color: wheat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
	color: wheat;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
}

a:hover {
  transform: translateX(5px);
  text-shadow: 0 4px 17px black;
}

button {
  background-color: wheat;
  color: #003366;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.shift-button {
  background-color: #003366;
  color: wheat;
}

.link-button {
  color: wheat;
  height: 0px;
  font-size: 20px;
  background-color: transparent;
  text-align: left;
  padding-left: 9px;
  margin-top: -10px;
}

.link-button:hover {  
  transform: translateX(5px);
  text-shadow: 0 4px 17px black;
  box-shadow: none;
}

input {
  background-color: wheat;
  border: none;
  border-bottom: 2px solid #003366;
  outline: none;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px wheat inset !important;
}

label {
  font-weight: 600;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0;
}

table {
  width: 100%;
  padding-right: 50px;
  border-collapse: separate; 
  border-spacing: 8px;
}

th {
  text-align: left;
  padding-bottom: 5px;
}

td img {
  margin: 10px;
}