.header-title {
	padding-left: 40px;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.company-title-container {
	min-width: 300px;
	text-align: center;
	padding-top: 5px;
}

