.about-container {
	margin-left: 20%;
	width: 60%;
	text-align: center;
	height: 100vh;
	padding-top: 60px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.show-about-container {
	opacity: 1;
}

.about-container article {
	font-size: 20px;
	margin-bottom: 10vh;
}

@media (max-width: 750px) {
	.about-container {
		margin-left: 5%;
		width: 90%;
		padding-top: 50px;
	}
	.about-container h1 {
		font-size: 22.5px;
	}
}